<nav data-controller="navbar" class="flex items-center justify-between flex-wrap bg-gray-900 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <%= link_to "Home", root_path, class: "font-semibold text-xl tracking-tight" %>
  </div>
  <div class="block lg:hidden">
    <button id="navbar-toggle" data-action="navbar#toggle" class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>
  <div data-navbar-target="collapsible" class="w-full hidden lg:block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <% if user_signed_in? %>
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-white mr-4" %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: "block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-white mr-4" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-white" %>
      <% end %>
    </div>
    <div>
      <span class="inline-block text-sm px-4 py-2 leading-none border rounded text-gray-100 border-gray-100 hover:border-transparent hover:text-gray-400 hover:bg-white mt-4 lg:mt-0">Hello there <%= current_user ? current_user.email : "friend" %></span>
    </div>
  </div>
</nav>
